/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(249, 222, 176);
  padding: 10px 20px;
  z-index: 1000;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  width: 20%;
} */

.navbar {
  /* display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(249, 222, 176);
  padding: 10px 20px;
  z-index: 1000;
  border-bottom: 2px solid black;
  /* border-right: 4px solid black; */
  width: 100%; /* Adjust width as needed */
}

.navItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(249, 222, 176);
  padding-top: 5px;
  padding-left: 0px;
  z-index: 1001;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  width: 110px;
  border-radius: 2px;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-btn {
  display: flex;
  /* position: fixed; */
  /* align-items: center; */
  background-color: rgb(249, 222, 176);
}

.dropdown-menu {
  position: relative;
  top: 100%;
  left: 0;
  list-style-type: none;
  background-color: rgb(249, 222, 176);
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  /* padding: 10px; */
  border-radius: 4px;
  z-index: 1001;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  margin-bottom: 10px;
}

.dropdown-item:last-child {
  margin-bottom: 0;
}

.dropdown-writing {
  margin-left: 10px;
  font-style: none;
}

.title h1 {
  font-size: 100px;
  padding: 0;
  margin: 0;
  font-family: "Space Mono";
  flex: 1;
  text-align: right;
  z-index: 1003;
}
.rightContainer {
  text-align: right;
  z-index: 10;
}
