.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 20px;
  padding-top: 100px;
  border: 3px solid #000000;
  border-radius: 2px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
}

.form_title {
  font-size: 22px;
  /* padding-top: 100px; */
}

.form_group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.form_group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form_group input {
  padding: 5px;
  border: 1px solid #000000;
  font-size: 16px;
  border-radius: 2px;
}

.form_group input:focus {
  outline: none;
  border-color: #000000;
}

.form_group textarea {
  padding: 5px;
  border: 1px solid #000000;
  font-size: 16px;
  border-radius: 2px;
}

.form_group textarea:focus {
  outline: none;
  border-color: #000000;
}

.btn {
  padding: 5px;
  border: 2px solid #000000;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
  background-color: black;
  color: rgb(249, 222, 176);
  cursor: pointer;
}
